$primary: #5179d6 !default;
$success: #30c78d !default;
$danger: #e56767 !default;

$theme-colors: (
  "primary": darken($primary, 10%),
  "success": $success,
  "danger": $danger,
) !default;

@import "~@forevolve/bootstrap-dark/scss/bootstrap-dark";
@import "node_modules/bootstrap/scss/bootstrap";
