$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #5179d6 !default;
$secondary: $gray-600 !default;
$success: #30c78d !default;
$info: #5cace5 !default;
$warning: #e5ae67 !default;
$danger: #e56767 !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$blue: red;

$theme-colors: (
  "primary": darken($primary, 10%),
  "secondary": $secondary,
  "success": darken($success, 20%),
  "info": $info,
  "warning": $warning,
  "danger": darken($danger, 15%),
  "light": $light,
  "dark": $dark,
) !default;

@import "node_modules/bootstrap/scss/bootstrap";
